module-id=pradar-register
#export-class=
#import-class=
export-package=com.shulie.instrument.module.register.zk.*
import-package=com.pamirs.pradar.*,io.shulie.takin.sdk.*,com.alibaba.fastjson.*,org.apache.commons.lang.*,org.slf4j.*
#export-resource=
#import-resource=
# dependency of module or swither,multi split with comma
dependencies=pradar-core
# dependency simulator version
middleware-module=false
simulator-version=1.0.0-
# must use
must-use=true
module-version=2.0.0.1
dependencies-info=pradar-core@2.0.0.0