module-id=apache-rocketmqv2
#export-class=
#import-class=
#export-package=
import-package=com.pamirs.pradar.*,com.pamirs.attach.plugin.common.web.*,io.shulie.instrument.module.messaging.*,io.shulie.instrument.module.isolation.*
#export-resource=
#import-resource=
# dependency of module or swither,multi split with comma
dependencies=pradar-core,messaging-common,isolation
simulator-version=1.0.0-
module-version=2.0.0.0
dependencies-info=pradar-core@2.0.0.0,messaging-common@1.0.0.0
sync-fetch-target=org.apache.rocketmq.client.consumer.DefaultMQPushConsumer#start