module-id=spring-cloud-gateway
#export-class=
#import-class=
#export-package=
import-package=com.pamirs.pradar.*,com.pamirs.attach.plugin.common.web.*
#export-resource=
#import-resource=
# dependency of module or swither,multi split with comma
dependencies=pradar-core,servlet-common
simulator-version=1.0.0-
module-version=2.0.1.3
dependencies-info=pradar-core@2.0.0.0,servlet-common@2.0.0.0