module-id=cluster-test-check
#export-class=
#import-class=
#export-package=
import-package=com.shulie.instrument.simulator.dependencies.*
#export-resource=
#import-resource=
# dependency of module or swither,multi split with comma
#dependencies=pradar-core,servlet-common
simulator-version=1.0.0-
module-version=2.0.0.0
async=false