module-id=apache-dubbo
#export-class=
#import-class=
#export-package=
#使用其他模块的包信息
import-package=com.pamirs.pradar.*
#export-resource=
#import-resource=
# dependency of module or swither,multi split with comma
#使用其他模块的模块ID，import-package和dependencies共同配置才能生效
dependencies=pradar-config-fetcher
simulator-version=1.0.0-