module-id=messaging-common
#export-class=
#import-class=
export-package=io.shulie.instrument.module.messaging.*
import-package=com.pamirs.pradar.*,io.shulie.instrument.module.isolation.*
#export-resource=
#import-resource=
# dependency of module or swither,multi split with comma
dependencies=pradar-core
simulator-version=1.0.0-
module-version=2.0.0.0
dependencies-info=module-isolation@2.0.0.0