module-id=messaging-common
#export-class=
#import-class=
export-package=io.shulie.instrument.module.messaging.*
import-package=com.pamirs.pradar.*,io.shulie.instrument.module.isolation.*,com.alibaba.fastjson.*
#export-resource=
#import-resource=
# dependency of module or swither,multi split with comma
dependencies=pradar-core,isolation
simulator-version=1.0.0-
module-version=2.0.0.0
dependencies-info=pradar-core@2.0.0.0
middleware-module=false